*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# htaccess
.htaccess
.htpasswd

# java
/bin
/target

# TWBot
/tmp
*.log
config/world/*.xml
config/database.xml
config/tribalwars.xml
config/twbot.xml
config/log4j2.xml
